.title {
    font-size: 28px;
    text-align: center;
    margin: 14px auto;
    margin-top: 20px;
    width: 80%;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: normal;
font-weight:600;
  }
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}

.square{
    display: flex;
    flex-direction: column;
    ;
    background-color: #087E8B;
    height: 80px;
    width: 80px;
    border-radius: 16px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.number{
font-size: 46px;
font-weight: 600;
height: 40px;
}

.text{
 font-weight: 500;
 font-size: 18px;
 letter-spacing: normal;
}