.container {
  /* background-color: #3AAFA9; */
  width: 100%;
  color: #f9f9f9;
}
.title {
  font-size: 38px;
  text-align: center;
  margin: 30px auto;
  /* margin-top: 50px; */
  width: 80%;
  color: #000000;
}

.subtitle {
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.imageContainer {
  position: relative;
  width: 100%;
  /* width: 460px; */
  height: 28rem;
}

.text {
  letter-spacing: 1px;
  font-size: 16.5px;
  width: 80%;
  margin: 36px auto;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 460px) {
  .text {
    width: 96%;
  }
}
