.container {
  display: flex;
  /* min-height: 200px; */
  justify-content: center;
  align-items: center;
  width: 100%;
 
}

.sale {
  background-color:#d10707;
  color: #f9f9f9;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 2px 6px;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 10px;
}

.priceMain {
  margin-top: 60px;
  font-size: 38px;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);}

.priceMainText {
  font-size: 20px;
}
.redLine {
    /* margin: auto; */
    background-color: #d10707;
    height: 3px;
    width: 10rem;
     /* Adjust this value to move the line to the desired position */
  }
  
.oldPrice {
  margin: 20px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #adadad;
}
.oldPriceText {
  font-size: 16px;
}

.button{
    margin: 26px auto;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
    color: #F9F9F9;
    background-color: #d10707;
    padding: 10px 60px;
    border-radius: 16px;
    box-shadow:  0px 3px 4px rgba(0, 0, 0, 0.3);;
}